$columnPadding: 2.2rem;
$regularFont: ProximaNova-Regular;
$boldFont: ProximaNova-Bold;

$offWhite: #858792;
$columnColor: rgb(18, 19, 29);

$saveButtonText: rgb(24, 186, 215);
$saveButtonBg: rgba(24, 186, 215, 0.12);
$saveButtonBgHover: rgba(24, 186, 215, 0.2);

$searchButtonText: rgb(24, 186, 215);
$searchButtonBg: rgba(24, 186, 215, 0.12);
$searchButtonBgHover: rgba(24, 186, 215, 0.2);

$plusminus: rgb(24, 186, 215);
$plusminusHover: rgb(24, 186, 215);

$defaultBorderRadius: 0px;